.container ul li:before{content:'≣';margin-right:3px;color:#C91C1A;}
    .container ul li{margin-bottom: 10px;}
    img{display:block;width:500px;margin:20px auto 30px;}
    table{margin:20px auto;color:#555;}
    table tr td{padding:10px;border:1px solid #bbb;}
    
    table tr td.s{width:5%;}
    table tr td.l{width:95%;}
    .color{background-color:#f8dbc8;}
    @media(max-width:600px){
        .container{width:98%;}
        img{width:90%;}
    }
    @media(max-width:500px){
        img{width:100%;}
    }